body {
  font-family: 'Be Vietnam Pro';
  color: #c9c5c5;
}

a {
  color: #1e1f1f;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Be Vietnam Pro';
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #47b2e4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(255, 255, 255, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
}

#header .logo a {
  color: #020202;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #464646;
  white-space: nowrap;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #000000;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #f5f1f1;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
}

.mobile-nav-toggle.bi-x {
  color: #fef9f9;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #f5efef;
  overflow-y: auto;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #eaeef4;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #47b2e4;
}

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#home {
  width: 100%;
  height: 80vh;
  background: #ffffff;
}

#home .container {
  padding-top: 72px;
}

#home h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #0b0a0a;
}

#home h2 {
  color: rgba(16, 16, 16, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#home .btn-get-started {
  font-family: 'Be Vietnam Pro';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 10px;
  margin: 10px 0 0 0;
  color: #fff;
  background: #06364d;
}

#home .row{
  display: flex;
  justify-content: space-between;
}


#home .btn-get-started:hover {
  background: #044360;
}



@media (max-width: 768px) {
  #home {
    height: 100vh;
    text-align: center;
  }

  #home .animated {
    animation: none;
  }

  #home .home-img {
    text-align: center;
    float: left;
    margin-left: 100px;
  }

  #home .home-img img {
    width: 50%;
    float: right;
    margin-right: 200px;
  }
  
}

@media (max-width: 768px) {
  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #home h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #home .home-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #home .home-img img {
    width: 80%;
  }

  #home .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  margin-right: 300px;
  width: 650px;
  height: 160px;
  text-align: left;

  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 900px;
  font-size: 64px;
  line-height: 85px;
  color: #090909;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title p {
  margin-bottom: 0;
  text-align: left;
}

/*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/
.carousel-container {
width: 80%;
margin: 0 auto;
position: relative;

}

.kosong {
height: 500px;
}

.carousel-indicators {
position: absolute;
top: 10px;
left: 10px;
right: auto;
margin-left: 0;
margin-right: 0;
}


.carousel-inner{
height: 600px !important;


}

.carousel-control {
position: absolute;
top: 10px;
right: 10px;
left: auto;
margin-left: 0;
margin-right: 0;
}

.carousel-control-prev,
.carousel-control-next {
top: 50%;
transform: translateY(-50%);
}
.footer-card{
  background-color:rgba(0, 1, 81, 1);
  height: 70px !important;
  width: 100% !important;
  margin-left: 0px;
  
}
.footer-card-item {
  color: white;
  margin-left: 0px;
  align-items: center !important;
  margin-top: 25px !important;
  font-size: 20px;
  font-weight: bold;
}
.primary-color{
  background-color: rgba(0, 1, 81, 1) !important ;
}
.progress {
  margin-left: 5%;
  margin-top: 14px;
  top: 30% !important;
  height: 25px !important;
}
.yellow{
  color: yellow;
}
.card {
  top: 50%;
  left: 10%;
}

/*--------------------------------------------------------------
# Manfaat
--------------------------------------------------------------*/

span{
  color: #1F3984;
}

#manfaat .h3{
  color: #000000;
}

#manfaat .card{
  padding-bottom: 100px;
}

#manfaat .container .img{
  border-radius: 30px;
}

/*--------------------------------------------------------------
# Cara
--------------------------------------------------------------*/
.cara .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  height: 100%;
}

.cara .member .member-info {
  padding-left: 30px;
}

.cara .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #0c0c0c;
}

.cara .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery #gallery-flters {
  list-style: none;
  margin-bottom: 20px;
}

.gallery #gallery-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: 'Be Vietnam Pro';
}

.gallery #gallery-flters li:hover,
.gallery #gallery-flters li.filter-active {
  background: #47b2e4;
  color: #fff;
}

.gallery .gallery-item {
  margin-bottom: 30px;
}

.gallery .gallery-item .gallery-img {
  overflow: hidden;
}

.gallery-img{
  border-radius: 30px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.overflow-hidden{
  min-width: 100vh !important;
  background-color: #001E42;
}

#footer {
  font-size: 14px;
  background: #001E42;
  width: 90% !important;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #001E42;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Be Vietnam Pro';
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .copyright {
  float: left;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
    color: #000000;
  }
}

/*  */
th, td{
  padding: 20px !important;
}

section .manfaat .card{
  
}